language: perl

perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"

before_install:
  cpanm -n Devel::Cover::Report::Coveralls

script:
  - cpanm .
  - perl -MDevel::Cover t/simple.t
  - perl -MDevel::Cover `which mojo` generate qx_mojo_app Demo
  - cover -report coveralls
  - cd Demo
  - wget http://downloads.sourceforge.net/qooxdoo/qooxdoo-4.0.1-sdk.zip
  - unzip http://downloads.sourceforge.net/qooxdoo/qooxdoo-4.0.1-sdk.zip
  - ./configure --with-qooxdoo-sdk `pwd`/qooxdoo-4.0.1-sdk
  - make
  - perl t/basic.t
